body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: hsla(0, 0%, 63%, 0.658);
}

#Create-Account-Page{
    padding: 20px;
    width: 40%;
    border: none;
    border-radius: 5px;
    background-color: white;
}

#Info-form{
    margin-bottom: 10px;
    padding: 20px 15px;
    position: relative;
    border: 1px solid hsl(0, 0%, 72%);
    border-radius: 5px;
}

#Info-form span{
    color: red;
}

#Info-form p{
    position: absolute;
    top: -26px;
    background-color: white;
    padding: 0px 5px;
}

#Info-form .Infos{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 50%);
}

#Account-Info{
    margin-bottom: 10px;
    padding: 20px 15px;
    position: relative;
    border: 1px solid hsl(0, 0%, 72%);
    border-radius: 5px;
} 

#Account-Info span{
    color: red;
}

#Account-Info p{
    position: absolute;
    top: -26px;
    background-color: white;
    padding: 0px 5px;
}

#Account-Info .Infos{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 50%);
}

#Preference-Page{
    padding: 20px 15px;
    position: relative;
    border: 1px solid hsl(0, 0%, 72%);
    border-radius: 5px;
}

#Preference-Page span{
    color: red;
}

#Preference-Page #title{
    position: absolute;
    top: -26px;
    background-color: white;
    padding: 0px 5px;
}

#Preference-Page .Infos{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 50%);
}

#Preferred-Contact{
    border: 1px solid;
    padding: 20px 15px;
    position: relative;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 72%);
    margin-bottom: 10px;
}

#Preferred-Contact p{
    position: absolute;
    background-color: white;
    top: -26px;
    padding: 0px 5px;
}

#User-Interest{
    margin-bottom: 10px;
    border: 1px solid;
    padding: 20px 15px;
    position: relative;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 72%);
}

#User-Interest p{
    position: absolute;
    background-color: white;
    top: -26px;
    padding: 0px 5px;
}

#ABOUT-USER{
    margin-top: 5px;
    width: 100%;
    height: 110px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 25px;
}

#SUBCRIBE{
    margin-bottom: 25px;
}

#AGREEMENT{
    margin-bottom: 25px;
}

#Create-Account{
    margin-top: 5px;
    background-color: hsl(120, 100%, 37%);
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}